# build output
dist/

# generated types
.astro/

#Google DevTools Workspaces
.well-known

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.local
.env.development
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Random files
AGENTS.md
CLAUDE.md
WhoisNotes.txt
