:root {
	--cxw:#FFF; --clw:#DDD; --cmw:#CCC; --cdw:#BBB; --cbw:#AAA;
	--cxa:#999; --cla:#888; --cma:#777; --cda:#666; --cba:#555;
	--cxk:#444; --clk:#333; --cmk:#222; --cdk:#111; --cbk:#000;
	--cxr:#F99; --clr:#F00; --cmr:#900; --cdr:#600; --cbr:#522;
	--cxo:#FB3; --clo:#F90; --cmo:#C60; --cdo:#940; --cbo:#620;
	--cxy:#FFD; --cly:#FFA; --cmy:#EE6; --cdy:#C93; --cby:#B70;
	--cxg:#9F9; --clg:#0F0; --cmg:#0C0; --cdg:#090; --cbg:#060;
	--cxt:#9FF; --clt:#0FF; --cmt:#0CC; --cdt:#099; --cbt:#066;
	--cxb:#6CF; --clb:#69F; --cmb:#36F; --cdb:#03C; --cbb:#009;
	--cxp:#B6F; --clp:#94F; --cmp:#80E; --cdp:#60C; --cbp:#306;
	--cxm:#F9F; --clm:#E6D; --cmm:#D0A; --cdm:#C0C; --cbm:#909;

  /* Default Right Mode */
	--ctext:   var(--clk);
	--cbold:   var(--cdk);
  --clink:   var(--cmb);
  --chover:  var(--clb);
  --ch1:     var(--cbk);
  --ch2:     var(--cbp);
  --ch3:     var(--cdp);
  --ch4:     var(--cmp);
  --ch5:     var(--clp);	
  --ch6:     var(--cxp);

	--cbodybg: var(--cxt);
	--gbodybg: hsla(from var(--cmp) h s l / 0.5), var(--cxt);
	
	/* Font Sizes */
	--fsh1: 3.052em; 
	--fsh2: 2.441em;
	--fsh3: 1.953em;
	--fsh4: 1.563em;
	--fsh5: 1.250em;
	--fsh6: 1.000em;
	--fsp:  1.000em;

	/* Line Heights */
	--lhh1: 1em;
	--lhh2: 1em;
	--lhh3: 1em;
	--lhh4: 1em;
	--lhh5: 1em;
	--lhh6: 1em;
	--lhp:  1em;

	/* Nav Bar Links */
  --luid:  var(--cmp);
	--ldev:  var(--cmb);
	--letc:  var(--cmg);
	--lart:  var(--cmt);
	--llab:  var(--cmo);
	--lblg:  var(--cmr);

  /* Display Mode Selector Defaults */
  --brc-dms:    #666;
  --bgg-dms:    linear-gradient(#555, #666);
  --bgg-dmsa:   linear-gradient(#555, #444);
  --bgg-dmsah:  linear-gradient(#EEE, #CCC);
  --dms-text:   var(--text-color);
  --dms-atext:  #FFF;
  --dms-shade:  #000;

	/* Astro */
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

*, html { box-sizing: border-box; }

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: var(--ctext);
	word-wrap: break-word;
	font-size: var(--fsp);
	text-align: left;
	line-height: var(--lhp);
	font-family: var(--font-atkinson);
	overflow-wrap: break-word;
	background-color: var(--cbodybg);
	background: linear-gradient(var(--gbodybg)) no-repeat;
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 15px 0;
	margin: 0;
	text-box-trim: trim-both;
	text-box-edge: cap alphabetic;
}

h1 { color: var(--ch1); font-size: var(--fsh1); line-height: var(--lhh1); }
h2 { color: var(--ch2); font-size: var(--fsh2); line-height: var(--lhh2); }
h3 { color: var(--ch3); font-size: var(--fsh3); line-height: var(--lhh3); }
h4 { color: var(--ch4); font-size: var(--fsh4); line-height: var(--lhh4); }
h5 { color: var(--ch5); font-size: var(--fsh5); line-height: var(--lhh5); }
h6 { color: var(--ch6); font-size: var(--fsh6); line-height: var(--lhh6); }

strong,
b { color: var(--cbold); font-weight: 700; }

a       { color: var(--clink); text-decoration: none; font-weight: 700; }
a:hover { color: var(--chover); }

p {	margin-bottom: 1em; }

.prose p { margin-bottom: 2em; }

textarea { width: 100%; font-size: 16px; }

input { font-size: 16px; }

table {	width: 100%; }

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: var(--cma);
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre > code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

#luid { color: var(--luid); }
#ldev { color: var(--ldev); }
#lart { color: var(--lart); }
#llab { color: var(--llab); }
#letc { color: var(--letc); }
#lblg { color: var(--lblg); }

#luid:hover { color:#fff; background-color: var(--luid); }
#ldev:hover { color:#fff; background-color: var(--ldev); }
#lart:hover { color:#fff; background-color: var(--lart); }
#llab:hover { color:#fff; background-color: var(--llab); }
#letc:hover { color:#fff; background-color: var(--letc); }
#lblg:hover { color:#fff; background-color: var(--lblg); }

/******************************************************* Color Mode Selector */
.selector {
  z-index: 5;
	display: flex;
  justify-content: center;
  flex-direction:  row;
  position: fixed;
  height: 35px;
  width:  100%;
  bottom: 0;
  vertical-align: bottom;
  overflow: hidden;
  background: var(--bgg-dms);

  code  { white-space: nowrap; font-family: monospace; }

  label {
    display: inline-flex;
    justify-content: center;  
    width: clamp(20px, calc( 50% - 1px), 50px); /* clamp(15%, 30%, 150px); */
    height: 35px;
    background: var(--bgg-dms);
    color: var(--mint);
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    padding: 10px 0 0 0;
    border:   1px solid var(--brc-dms);
    user-select: none;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 1px 3px rgba(  0,   0,   0, 0.35), 
                        0   4px rgba(255, 255, 255, 0.35);
    --dms-shade: #FF6600CC;
  
    &:hover         { cursor: pointer; background: var(--bgg-dmsah);    }
    &:first-of-type { border-right: none; color: var(--mwht); --dms-shade: #000000CC; }
    &:last-of-type  { border-left:  none; color: var(--kblk); --dms-shade: #CCCCCC66; }

    i { 
      padding: 0; 
      text-align: center; 
      font-style: normal;
    }

    &.d i { /* default */
      width: 16px;
      height: 16px;
      border-radius: 8px;
      text-indent: -9000px;
      background: conic-gradient(#F63, #FF0, #3F6, #36F, #F33); 
    }

    code {
			padding: 0;
			display: inline-block;
			opacity: 0;
			width: 0;
			overflow: hidden;
			text-transform: capitalize;
			background-color: unset;
		}

		&.w code { color: var(--clw); }
		&.y code { color: var(--cxo); }
		&.o code { color: var(--clo); }
		&.r code { color: var(--clr); }
		&.d code { color: var(--clt); }
		&.g code { color: var(--clg); }
		&.b code { color: var(--cxb); }
		&.p code { color: var(--cxp); }
		&.k code { color: var(--cla); }

  } /* /label */

  input {
    position: absolute !important;
    clip-path: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;

    &:checked + label {
      cursor:  default;
      background: var(--bgg-dmsa);
      width: calc(100% - 100px);

      i    { text-shadow: 0 0 8px var(--dms-shade); filter: brightness(0.85) contrast(1.5); }
      code { opacity: 1; width: auto; padding-left: 5px;}
    }
  } /* /input */

} /* /selector */

/**************************************************************** Light Mode */
body:has(input[value="light"]:checked), body.light { /* Black on White (bnw) */
	--ctext:   var(--clk);
	--cbold:   var(--cdk);
  --ch1:     var(--cdk);
  --ch2:     var(--cmk);
  --ch3:     var(--clk);
  --ch4:     var(--cxk);
  --ch5:     var(--cda);
  --ch6:     var(--cma);

	--cbodybg: var(--clw);
	--gbodybg: var(--cxw), var(--cmw);
} /* /light */

/*************************************************************** Bright Mode */
body:has(input[value="bright"]:checked), body.bright { /* Black on Yellow */
	--ctext:   var(--cmk);
	--cbold:   var(--cby);
  --ch1:     var(--clk);
  --ch2:     var(--cby);
  --ch3:     var(--cma);
  --ch4:     var(--cdy);
  --ch5:     var(--cxa);
  --ch6:     var(--cdy);

	--cbodybg: var(--cxy);
	--gbodybg: var(--cxy), var(--cmy);
} /* /bright */

/*************************************************************** Excite Mode */
body:has(input[value="excite"]:checked), body.excite { /* Black on Orange */
	--ctext:   var(--cmk);
	--cbold:   var(--cbo);
  --ch1:     var(--clk);
  --ch2:     var(--cbo);
  --ch3:     var(--cba);
  --ch4:     var(--cdo);
  --ch5:     var(--cma);
  --ch6:     var(--cdo);

	--cbodybg: var(--cxo);
	--gbodybg: var(--cxo), var(--cmo);
} /* /excite */

/**************************************************************** Fight Mode */
body:has(input[value="fight"]:checked), body.fight { /* Black on Red */
	--ctext:   var(--cmk);
	--cbold:   var(--cbr);
  --ch1:     var(--clk);
  --ch2:     var(--cbr);
  --ch3:     var(--cba);
  --ch4:     var(--cdr);
  --ch5:     var(--cma);
  --ch6:     var(--cdr);

	--cbodybg: var(--cxr);
	--gbodybg: var(--cxr), var(--cmr);
} /* /fight */

/************************************************************** Insight Mode */
body:has(input[value="insight"]:checked), body.insight { /* Black on Green */
	--ctext:   var(--cmk);
	--cbold:   var(--cbg);
  --ch1:     var(--clk);
  --ch2:     var(--cbg);
  --ch3:     var(--cba);
  --ch4:     var(--cdg);
  --ch5:     var(--cma);
  --ch6:     var(--cdg);

	--cbodybg: var(--cxg);
	--gbodybg: var(--cxg), var(--cdg);
} /* /insignt */

/*************************************************************** Flight Mode */
body:has(input[value="flight"]:checked), body.flight { /* Black on Blue */
	--ctext:   var(--cmk);
	--cbold:   var(--cbb);
  --clink:   var(--cdb);
  --chover:  var(--cmb);
  --ch1:     var(--clk);
  --ch2:     var(--cbb);
  --ch3:     var(--cba);
  --ch4:     var(--cdb);
  --ch5:     var(--cma);
  --ch6:     var(--cdb);

	--cbodybg: var(--cxb);
	--gbodybg: var(--cxb), var(--cmb);
} /* /flight */

/************************************************************** Depeche Mode */
body:has(input[value="depeche"]:checked), body.depeche { /* White on Purple */
	--ctext:   var(--cmw);
	--cbold:   var(--cxp);
  --clink:   var(--clp);
  --chover:  var(--cxp);
  --ch1:     var(--cxw);
  --ch2:     var(--clp);
  --ch3:     var(--cbw);
  --ch4:     var(--cmp);
  --ch5:     var(--cma);
  --ch6:     var(--cmp);

	--cbodybg: var(--cdp);
	--gbodybg: var(--cdp), var(--cbp);
} /* /depeche */

/**************************************************************** Night Mode */
body:has(input[value="night"]:checked), body.night { /* White on Black (wnb) */
	--ctext:   var(--cmw);
	--cbold:   var(--cxw);
  --clink:   var(--clb);
  --chover:  var(--cxb);
  --ch1:     var(--cxw);
  --ch2:     var(--clw);
  --ch3:     var(--cmw);
  --ch4:     var(--cdw);
  --ch5:     var(--cxa);
  --ch6:     var(--cla);
	
	--cbodybg: var(--clk);
	--gbodybg: var(--cmk), var(--cxk);
} /* /night */

/* Media Queries *************************************************************/

@media (max-width: 720px) {
	body { font-size: 18px; }
	main { padding: 1em; }
}
